@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --primary-color: #c72c3b;
  --bg-primary: #000000;
  --text-color: #ffffff;
  --bg-secondary: #000000;
  --card-background: #000000;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  --weight-semibold: 600;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #c72c3b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: var(--weight-semibold);
  margin-bottom: 20px;
  color: var(--primary-color);
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
  display: block; 
  margin: 0 auto;
  background-color: var(--bg-secondary);
  color: var(--text-color);
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
}

button {
  background-color: var(--bg-primary);
  color: var(--text-color);
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 5px; 
  font-size: 1rem;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}
  
button:hover {
  background-color: var(--bg-primary);
  color: var(--primary-color);
}

.category-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.category-selector {
    padding: 10px 15px;
    border: 2px solid var(--primary-color);
    border-radius: 5px; 
    font-size: 1rem; 
    font-weight: var(--weight-semibold);
    color: var(--text-color);
    background-color: var(--bg-secondary);
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
}

.category-selector:hover {
    background-color: var(--bg-secondary);
}

.category-selector:focus {
    outline: none;
    background-color: var(--bg-secondary);
}

#result {
  margin-top: 20px;
  background: var(--card-background);
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  text-align: center;
}

#result p {
  margin: 10px 0;
  color: var(--text-color);
}

footer {
  background-color: var(--bg-secondary);
  color: var(--text-color); 
  text-align: center;
  padding: 10px 0; 
  position: relative;
  bottom: 0; 
  width: 100%;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
  }
}
